body {
    font-size: 25px;
    justify-content: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#off-on {
    display: none;
}

label {
    position: absolute;
    content: '';
    width: 60px;
    height: 30px;
    border-radius: 50px;
    background-color: rgba(118, 112, 112, 0.481);
}

label::after {
    content: '';
    position: absolute;
    width: 30px;
    left: 0;
    top: 0;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.596);
    transition: .2s ease-in-out;
}

input:checked~label::after {
    background-color: rgb(255, 251, 0);
    transform: translateX(30px);
}

.items {
    width: 300px;
    bottom: 0;
    justify-content: space-evenly;
    display: flex;
}